button.primary_button_white {
    background: #fff;
    color: #111;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

button.primary_button_black {
    background: #111;
    color: #fff;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

button.primary_button_ghost {
    background: transparent;
    color: #fff;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

button.primary_button_destructive {
    background: #ff6347;
    color: #fff;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

button.primary_button_correct {
    background: #51ed51;
    color: #fff;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}


button.primary_button_outlined {
    background: transparent;
    border: 1px solid #ffffffab;
    color: #fff;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}


button.primary_button_blue {
    background: #479aff;
    color: #fff;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}