h1.title_h1 {
    font-size: 2.5rem;
}

h2.title_h2 {
    font-size: 1.5rem;
}

h3.title_h3 {
    font-size: larger;
}

h4.title_h4 {
    font-size: large;
}


h5.title_h5 {
    font-size: small;
}


h6.title_h6 {
    font-size: x-small;
}

